body {
    background: linear-gradient(45deg, rgba(255, 165, 165, 1), rgba(253, 197, 197, 1), rgba(242, 152, 222, 0))
}

main {
    background-color: #FFFFFF;
    width: 585px;
    height: 575px;
    margin: 225px auto;
    display: flex;
    flex-flow: column;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 72px auto 0px;
}

label,
span {
    color: #666666;
    font-size: 18px;
    line-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #089FE0;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    height: 45px;
}

button>span {
    color: #FFFFFF;
}

input[type="text"],
input[type="email"] {
    font-size: 16px;
    line-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 45px;
}

form {
    display: flex;
    flex-flow: column;
    margin: 75px auto;
}

.conditions-container {
    margin: 22px auto;
}

.conditions-container input {}

.company-input {
    background-color: #fff;
    color: #000;
    border-radius: 5px;
    border: 1px solid #f5f5f5;
    column-gap: 22px;
    width: 400px;
}

.person__data-input {
    background-color: #F5F5F5;
    color: #666666;
    border-radius: 5px;
    border: 1px solid #fff;
    column-gap: 22px;
    width: 400px;
}

.person__fio-container .person__data-input {
    width: 200px !important;
}

.person__fio-container {
    display: flex;
    flex-flow: row;
}

.account-a {
    margin: 0px auto;
}