:root {
    --color-primary: #6c38CC;
    --color-primary-hover: #5b2bb2;
    --color-secondary: #E47AD5;
    --color-text: #FAFAFA;
    --color-link-hover: #AFB2BF;
    --color-bg: #16171D;
    --color-bg-medium: #1E1F29;
    --color-bg-light: #2E2D3D;
    --color-bg-footer: #101114;
    --color-stroke: #4D5064;



    --border-radius-5: 5px;
    --border-radius-8: 8px;
    --border-radius-10: 10px;
    --layout-width: 1172px;

    --gradient-text: linear-gradient(93.33deg, #D77BE6 9.26%, #BE63E6 42.32%, #6C36CC 104.58%);
}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-bg);
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
}