body {
    background-image: linear-gradient(to right, rgba(55, 65, 81, 1), rgba(17, 24, 39, 1));
}

header {
    padding: 0px 80px;
    display: flex;
    margin: 0px 180px
}

nav {
    flex-grow: 2;
}

nav ul {
    display: flex;
}

nav li {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    list-style: none;
    padding: 21px;
}


nav li:first-child {
    font-size: 16px;
    line-height: 20px;
    padding: 19px;
}

h1 {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #fff;
}

address span {
    font-family: Roboto, sans-serif;
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}

p {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #fff;
}

address {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    row-gap: 16px;
}

figure+figure {
    margin: 70px auto;
}

footer {
    margin: 77px auto;
    width: 240px;
}

footer>span {
    color: #fff;
}

#search {
    background-color: rgba(31, 41, 55, 0.6);
    border: 1px solid rgba(31, 41, 55, 0.6);
    border-radius: 100px;
    width: 224px;
    height: 40px;
    margin: 21px;
}

#search::placeholder {
    padding-left: 19px;
}

#tags {
    margin: 14px auto;
}

#tags {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    text-align: center;
}

.author__container {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 16px;
}

.author__name>span {
    font-size: 16px;
    line-height: 28px;
}

.author__proff>span {
    font-size: 14px;
    line-height: 28px;
    opacity: 60%;
}

.articleTitle {
    line-height: 38px;
}

.article__image {
    text-align: center;
}

.site_copyright {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    text-align: center;
}

.avatar__container {
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    height: 50px;
    background-image: url(./images/56d2936ddebdc3f275a19554e34f56b7ae22bd8b.png);
    background-size: cover;
    background-position: center;
}

.article__text-container {
    max-width: 710px;
    margin: 0 auto
}