#heroButton {
    background-color: #4262FF;
    color: #FFF;
}

.link {
    color: #4262FF;
    text-decoration: underline;
}

h1,
h2 {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    color: #050038
}

p {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.heroText {
    color: #050038;
}

.sectionText {
    color: #696688;
}

header a {
    color: #050038;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}